.container {
  background-color: #EAEAEA;
}

.swiper {
  width: 100%;
  max-height: '500px';

  @media (max-width: 768px) {
    height: '200px';
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #EAEAEA;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  padding: 0 80px;
  height: '472px';
  object-fit: cover;

  @media (max-width: 768px) {
    padding: 0 0;
    max-height: '172px'
  }
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-prev, .swiper-button-next {
  color: #F15A22;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  --swiper-navigation-size: 20px;

  @media (max-width: 768px) {
    display: none
  }
}

.swiper-pagination-bullet-active {
  background: #F15A22;
}